<!-- Only render the slider when items are available -->
@defer(when items()) {

  <swiper-container
    #swiper
    [modules]="swiperModules"
    [slidesPerView]="config()?.slidesPerView ?? 1"
    [spaceBetween]="config()?.spaceBetween ?? 10"
    (swiperslidechange)="onSlideChange()"
  >

  <!-- Optional: Show a special first slide if isFirstItem is true -->
  @if(isFirstItem()) {
    <swiper-slide>
      <ng-container
        *ngTemplateOutlet="firstItemTemplate()!"
      >
      </ng-container>
    </swiper-slide>
  }

  <!-- Render a slide for each item in the items array -->
  @for(item of items(); track $index) {
    <swiper-slide>
      <ng-container
        *ngTemplateOutlet="itemTemplate()!;
        context: {$implicit: item}"
      >
      </ng-container>
    </swiper-slide>
  }

  <!-- Optional: Show a special last slide if isViewAll is true -->
  @if(isViewAll()) {
    <swiper-slide>
      <ng-container
        *ngTemplateOutlet="viewAllTemplate()!"
      >
      </ng-container>
    </swiper-slide>
  }

  </swiper-container>

}
