<ion-card>
  @if(!isViewAll()) {

  <ion-thumbnail>
    <ion-badge color="dark">
      {{ movie()?.genre }}
      <!-- <img [src]="movie()?.brandLogo" /> -->
    </ion-badge>

    <img class="car-image" [src]="movie()?.poster" />
  <ion-thumbnail>
    <!-- <ion-badge color="dark">
      {{ movie()?.genre }}
      <img [src]="movie()?.brandLogo" />
    </ion-badge> -->

    <img class="movie-image" [src]="movie()?.poster" />
  </ion-thumbnail>

  <ion-item lines="none">
    <ion-label>
      <ion-text color="dark">
        {{ movie()?.title }}
      </ion-text>
      <p class="desc">{{ movie()?.plot }}</p>

      <p class="desc">{{ movie()?.director }}</p>
    </ion-label>

    <ion-button slot="end" color="light" shape="round">
      <ion-icon
        color="dark"
        slot="icon-only"
        name="bookmark-outline"
      ></ion-icon>
    </ion-button>
  </ion-item>

  }
  <!-- @else {
  <app-view-all-card [route]="['/movies']"></app-view-all-card>
  } -->
        name="heart"
      ></ion-icon>
    </ion-button>

  </ion-item>
  }

  @else {
  <app-view-all-card></app-view-all-card>
  }
</ion-card>
