<ion-content>

  <ion-list>
    @for (movie of movies$ | async; track movie.id) {

      <ion-item>
        <ion-thumbnail slot="start">
          <img [src]="movie.poster !== 'N/A' ? movie.poster : 'assets/imgs/avatar.png'" />
        </ion-thumbnail>
        <ion-label>
          <app-info-card
            [heading]="movie.title"
            [value]="movie.year">
          </app-info-card>
        </ion-label>

      <ion-button fill="clear" color="primary" slot="end" (click)="removeMovie(movie)">
          <ion-icon name="close-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>

    }
  </ion-list>

</ion-content>
